<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>
    
    
    <listener>
        <listener-class>org.hallock.image.DaContextListener</listener-class>
    </listener>
    
    
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <jsp-file>/jsp/folderview.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TestServlet2</servlet-name>
        <jsp-file>/jsp/imageview.jsp</jsp-file>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/folders*</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet2</servlet-name>
        <url-pattern>/images*</url-pattern>   
    </servlet-mapping>
</web-app>
